<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RedditWallpaper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DDBA7F7D1C11355D008FF634</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDBA7F941C11355D008FF634</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDBA7F9F1C11355D008FF634</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
